pandas==2.2.3
googleapis-common-protos==1.68.0
plotly==6.0.0
streamlit==1.42.2
faiss-cpu==1.10.0
jsonpickle==4.0.2
sentence-transformers==3.4.1
python-dotenv==1.0.1
google-api-python-client==2.162.0
google-generativeai==0.8.4
